body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  font-family: "Hanken Grotesk", sans-serif;
}
body .card-container {
  width: 740px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 34px -10px hsl(234, 85%, 75%);
  border-radius: 2rem;
}
body .card-container .content-left {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  background: linear-gradient(180deg, hsl(252, 100%, 67%) 0%, hsl(241, 81%, 54%) 50%, hsl(241, 81%, 54%) 100%);
}
body .card-container .content-left h2 {
  color: hsl(241, 100%, 89%);
  font-size: 20px;
  padding: 0 0 20px 0;
  opacity: 0.9;
}
body .card-container .content-left .result {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, hsl(256, 72%, 46%) 0%, hsl(241, 81%, 54%) 70%, hsl(241, 81%, 54%) 100%);
  border-radius: 50%;
}
body .card-container .content-left .result h3 {
  padding: 0;
  margin: 0;
  color: hsl(0, 0%, 100%);
  font-size: 4rem;
  line-height: 0.5;
}
body .card-container .content-left .result p {
  padding: 0;
  margin: 20px 0 0 0;
  font-size: 16px;
  color: hsl(241, 100%, 89%);
}
body .card-container .content-left .calification {
  margin: 30px 0 10px 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 800;
  color: hsl(0, 0%, 100%);
}
body .card-container .content-left .description {
  width: 70%;
  text-align: center;
  color: hsl(241, 100%, 89%);
  font-size: 16px;
}
body .card-container .content-right h2 {
  padding: 10px 0 30px 0;
}
body .card-container .content-right .item__reaction {
  width: 75%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 100%, 97%);
  border-radius: 0.7rem;
  margin: 0 0 20px 0;
}
body .card-container .content-right .item__reaction div {
  display: flex;
  gap: 5px;
}
body .card-container .content-right .item__reaction div .title__item {
  color: hsl(0, 100%, 67%);
  font-weight: 600;
}
body .card-container .content-right .item__reaction div .score__item {
  color: hsl(224, 30%, 27%);
  font-weight: 900;
  padding: 0;
}
body .card-container .content-right .item__reaction div .total-score__item {
  color: hsl(224, 30%, 67%);
  font-weight: 800;
}
body .card-container .content-right .item__memory {
  width: 75%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(39, 100%, 96%);
  border-radius: 0.7rem;
  margin: 0 0 20px 0;
}
body .card-container .content-right .item__memory div {
  display: flex;
  gap: 5px;
}
body .card-container .content-right .item__memory div .title__item {
  color: hsl(39, 100%, 56%);
  font-weight: 600;
}
body .card-container .content-right .item__memory div .score__item {
  color: hsl(224, 30%, 27%);
  font-weight: 900;
  padding: 0;
}
body .card-container .content-right .item__memory div .total-score__item {
  color: hsl(224, 30%, 67%);
  font-weight: 800;
}
body .card-container .content-right .item__verbal {
  width: 75%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(166, 100%, 97%);
  border-radius: 0.7rem;
  margin: 0 0 20px 0;
}
body .card-container .content-right .item__verbal div {
  display: flex;
  gap: 5px;
}
body .card-container .content-right .item__verbal div .title__item {
  color: hsl(166, 100%, 37%);
  font-weight: 600;
}
body .card-container .content-right .item__verbal div .score__item {
  color: hsl(224, 30%, 27%);
  font-weight: 900;
  padding: 0;
}
body .card-container .content-right .item__verbal div .total-score__item {
  color: hsl(224, 30%, 67%);
  font-weight: 800;
}
body .card-container .content-right .item__visual {
  width: 75%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  background-color: hsl(234, 85%, 95%);
  border-radius: 0.7rem;
  margin: 0 0 40px 0;
}
body .card-container .content-right .item__visual div {
  display: flex;
  gap: 5px;
}
body .card-container .content-right .item__visual div .title__item {
  color: hsl(234, 85%, 45%);
  font-weight: 600;
}
body .card-container .content-right .item__visual div .score__item {
  color: hsl(224, 30%, 27%);
  font-weight: 900;
  padding: 0;
}
body .card-container .content-right .item__visual div .total-score__item {
  color: hsl(224, 30%, 67%);
  font-weight: 800;
}
body .card-container .content-right button {
  width: 80%;
  padding: 15px 0;
  border-radius: 2rem;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 0.8rem;
}
@media (max-width: 600px) {
  body .card-container {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
